---
standalone: true
---

// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// nib: http://visionmedia.github.com/nib/
@import 'nib'

// fonts
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600,700,900")


// ====================================
// Responsive Layout Awesomeness
// https://gist.github.com/1549029
// Published under the "public domain" using the Creative Commons Zero - http://creativecommons.org/publicdomain/zero/1.0/

// Everything
*
	// Make paddings be included within the width
	box-sizing border-box

// Provide our wrapper mixin
// Contains our resize transition
wrapper($site-width = 70%)
	$site-margin = ((100% - $site-width) / 2)
	margin-left: $site-margin
	margin-right: $site-margin
	transition: margin 0.3s ease-out
	clearfix()

// Provide our column mixin
column($columns)
	display: inline
	float: left
	width: (100/$columns)%


// ====================================
// Configuration

// Helpers
zoom($size)
	zoom: $size

// Fonts
fontMyraid = "Myriad Pro", "Segoe WP", "Segoe UI", Segoe, Calibri, Helvetica, Arial
fontMyraidBoldest = 700
fontMyraidBold = 600
fontMyraidNormal = 500
fontMyraidLight = 500
fontMyraidLightest = 500
fontFutura = "futura-pt", Helvetica, Arial, sans-serif
fontGeorgia = Georgia, Times, serif
fontConsolas = Consolas, Menlo, Monaco, 'Source Code Pro', 'courier new', monospace, serif
fontMonaco = Monaco, Menlo, Consolas, 'Source Code Pro', 'courier new', monospace, serif

// Colors
colorBlue = #3c58ad

colorDarkGold = #998758
colorGold = #b09e6e
colorLightGold = #c0ae7e
colorLighterGold = #e2d5b2
colorLightestGold = #f2ead4

colorDarkestBrown = #3e3e3e
colorDarkBrown = #777
colorBrown = #9f9f9f
colorLightBrown = #aaa
colorLighterBrown = #dbdbdb
colorLightestBrown = #f1f1f1

colorBlue = #3c58ad

colorLink = colorBlue
colorAccent = colorDarkGold
colorBackground = colorLightestBrown


// ====================================
// Mixins

// Icons
mixinIconPageUp()
	&:before
		content: '↑'
mixinIconPageDown()
	&:before
		content: '↓'
mixinIconPagePrev()
	&:before
		content: '←'
mixinIconPageNext()
	&:before
		content: '→'
mixinIconSectionUp()
	&:before
		content: '⇧'
mixinIconSectionDown()
	display: inline-block
	transform: rotate(-180deg)
	&:before
		content: '⇧'
mixinIconAccountPointer()
	display: inline-block
	transform: rotate(-180deg)
	transition: all 0.5s
	&:before
		content: '▴'


// ====================================
// Fonts

.container
	font-family: fontMyraid
	font-smooth: always
	-webkit-font-smoothing: antialiased
	color-profile: sRGB
	rendering-intent: auto
	text-rendering: optimizeLegibility

	h1
	h2
	h3
	h4
		font-family: fontFutura
		font-weight: fontMyraidNormal

.topbar .links
.sidebar
.mainbar nav
.mainbar .btn
.mainbar .providers
.bottombar
	font-family: fontMyraid
	font-weight: fontMyraidNormal
	text-transform: uppercase

.mainbar
	code
	pre
		text-transform: none


// ------------------------------------
// Links

a
	text-decoration: none
a:not(.hover-link),.link
	cursor: pointer
	text-decoration: none
	color: colorLink
	font-weight: fontMyraidBold
.hover-link
	cursor: pointer
	text-decoration: none
	color: inherit
a:hover,.hover-link:hover
	text-decoration: underline


// ------------------------------------
// Code

code
pre code
.hljs
	font-weight: 500
	border-radius: 0.5em
	background: colorLightestGold
	color: hsl(186, 8%, 15%)

code
	font-size: 0.75em
	font-family: fontConsolas

	display: inline-block
	padding: 0.05em 0.5em 0em
	margin: 0.4em 0.2em 0.2em 0
	border: 1px solid hsl(186, 8%, 88%)

	white-space: pre

pre code
.hljs
	font-size: 0.7em
	font-family: fontMonaco

	display: block
	margin: 2.5em 0
	padding: 1em 1.5em
	border: 1px solid hsl(192, 8%, 84%)

	line-height: 1.5em

	overflow: auto
	// word-wrap: break-word
	// white-space: pre-wrap


// ====================================
// Global Styles

body
	background: colorBackground
	color: colorDarkestBrown

blockquote
	margin-top:0.5em
	margin-bottom:0.5em
	margin-left: 1em
	border-left: 3px solid colorBlue;
	padding-left: 1em;
	em
		font-style: italic

em
	// color: colorAccent
	// font-style: normal
	font-style: italic

nav
nav li
	list-style: none

.btn
	background-color: colorLightGold
	background-image: linear-gradient(top, colorLightGold, colorGold)
	border: 2px solid white
	border-radius: 3px
	color: colorDarkestBrown !important
	display: inline-block

	margin: 1em auto
	padding: 15px 30px
	text-shadow: 1px 1px 0 rgba(white, .3)

	&:hover
		background-image: none
		box-shadow: inset 1px 1px 2px rgba(black, .2)

.contributors
	.contributor
		.contributor-repos
			display: none
		&:hover
			.contributor-repos
				display: inline
		.contributor-repo
			&:after
				content: ', '
			&:last-child:after
				content: ''


// ====================================
// Layout and structure

.container
	margin: 0 auto
	width: 90%
	position: relative
	clear: both

.bottombar
	margin-top: 3em
	width: 100%
	min-height: 4em

.topbar
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 2.5em
	z-index: 501

	background: hsl(0, 0%, 95%)
	border-bottom: 1px solid colorBlue
	box-shadow: 0 1px 0 white

	.topnav
		height: 2.5em
		word-wrap: break-word
		overflow: hidden

.sidebar
	position: fixed
	top: 2.5em
	left: -200px
	width: 220px
	padding-right: 20px
	z-index: 500
	word-wrap: break-word
	transition: all 0.3s ease-in

	.list-menu
		overflow: scroll
		width: 200px
		background: hsl(0, 0%, 95%)
		border-right: 1px solid colorLightBrown
		box-shadow: 0 1px 0 white

.page
	width: 100%

.mainbar
	font-weight: 400
	clearfix()

.webchat
	position: fixed
	left: 0
	bottom: 0

	width: 100px
	height: 25px

	cursor: pointer
	border: 1px solid hsl(209, 32%, 82%)
	background: hsl(209, 70%, 94%)
	text-align: center
	padding-top: 0.3em

html.no-touch
	.topbar
		position: fixed
	.mainbar
		margin-top: 40px
	.page
		padding-top: 2em


html.no-touch .topbar:hover .sidebar
.topbar .sidebar.active
	left: 0
	opacity: 1


// ====================================
// Main navigation

.topbar
	.search
	.links
	.links a
		display: inline-flex

	.links
		float: left
		margin-top: 0.6em
		a
			line-height: 1em
			font-size: 1em
			margin-right: 20px
			color: colorDarkestBrown
			padding-bottom: 2px
			border-bottom: 6px solid transparent

			&:hover
			&.active
				border-color: colorBlue
				text-decoration: none

		a.logo
			margin-left: 10px
			font-size: 1.25em
			padding-bottom: 1px

	.search
		float: right
		width: 25%
		margin-top: 0.3em
		margin-right: 0.5em
		*
			box-sizing: content-box
		.gsc-control-cse
			padding: 0
			border: none
			background: transparent


// ====================================
// Splash Styles

.splash
.error
	section
		margin: 3em 0
		padding: 1.5em 0
		text-align: center

	h1
		font-size: 4em
	h2
		font-size: 2.5em
	h3
		font-size: 2.5em

.error
	section
		margin: 0

	h1
		margin-bottom: 0

	#goog-fixurl
		.other-things
			margin: 2em 0 0
			font-weight: normal !important

		ul
		ul li
			list-style: none

.splash
	p
		color: colorDarkBrown
		font-size: 1.1em
		line-height: 1.6em
		margin-left: auto
		margin-right: auto
		max-width: 50%

	.btn
		font-size: 1.5em


	// ====================================
	// Splash - Hero Space

	.overview
		font-family: fontFutura
		font-size: 1.4em
		line-height: 1.2em
		list-style: none
		padding: 3em 0 1em
		wrapper(100%)

		li
			column(5)
			padding: 1em 0
			position: relative

			span
				display: block

			.image
				display: block
				background: url(../images/splash-features.png) no-repeat 4px 100%
				width: 152px
				height: 256px
				margin: 0 auto

			&.versioning .image
				background-position: 0 10px
			&.skeletons .image
				background-position: -206px 0
			&.language .image
				background-position: -400px 0
			&.deploys .image
				background-position: -596px 0
			&.plugins .image
				background-position: -806px 0

			// Popover
			.popover
				position: absolute
				left: 0
				z-index: 3

				background: white
				padding: .25em
				border-radius: .25em

				line-height: 1.25em

				visibility: hidden
				opacity: 0
				transition: all .2s ease-in-out

			.popover:before
				content: ""
				background: white

				z-index: -3
				width: 1em
				height: 1em
				margin-left: -.5em

				position: absolute
				top: -.4em
				left: 50%

				transform: rotate(45deg)

			&:hover
				cursor: pointer

				.popover
					visibility: visible
					opacity: 1
					margin-top: 1em


	// ====================================
	// Splash - Support & About Sections

	.support
		background: colorLightGold
		p
			color: colorDarkestBrown

	.providers
		list-style: none
		padding: 2em 0 0

		li
			display: inline-block
			margin: 0 3em 2em

		a
			color: colorLightestGold
			font-size: 1.4em
			font-weight: 400

			&:hover
				color: white

	.service-buttons
		margin-top: 1.5em

	.social-buttons
	.service-badges
		display: block
		margin-top: 0.5em

	.service-button
		display: inline-block
		width: 100px
		text-align: left
		overflow: hidden
		&.google-plus-one-button
		&.hacker-news-submit-button
			width: 80px
		&.twitter-follow-button
		&.fury-button
			width: 130px
		&.reddit-submit-button
			width: 0px !important
			iframe
				padding-top: 3px

	.tweets
		margin-top: 2em
		margin-bottom: 0

	.about
		padding-bottom: 0
		margin-bottom: 0

// ====================================
// Navigation

// Menu
.list-menu
	// Group
	ul
		padding: 0
		marign: 0

	// Title
	.list-menu-title
		font-size: 1em
		margin: 0
		font-weight: inherit
		font-family: inherit
		text-transform: inherit

	// Link
	.list-menu-link
		border-left: 5px solid transparent
		color: colorDarkestBrown
		display: inline-block
		padding: 0.15em 0.5em
		font-weight: fontMyraidBold

	// Category
	.list-menu-category > .list-menu-link .list-menu-title
		font-weight: fontMyraidBoldest

	// Item
	.list-menu-item .list-menu-link
		text-transform: none
		&:hover
			color: colorDarkGold

	// Item Active
	.list-menu-item.active .list-menu-link
		font-weight: fontMyraidBold
		color: colorDarkGold

// Sidebar
.sidebar
	// Menu
	.list-menu
		padding-bottom: 1em

		// Category Group
		.list-menu-categories
			margin: 0.3em 0
			border-left: 2px solid colorLightGold

		// Category
		.list-menu-category
			padding: 5px 0

			&.active > .list-menu-link
				border-color: colorLightGold
			/*
			&.inactive
				.list-menu-items
					max-height: 0
			&:hover
				.list-menu-items
					max-height: 300px
			*/

		// Item Group
		.list-menu-items
			margin: 5px 0
			padding-left: 1em
			overflow: hidden
			transition: max-height 0.5s ease-out
			height: auto
			max-height: 300px

// Documentation Index Page
.docs
	// Menu
	.list-menu
		margin-top: 3em
		//margin-left: -4%

		// Category
		.list-menu-category
			display: inline-block
			overflow: hidden
			width: 21%
			//margin-left: 4%
			margin: 0 2%
			float: left
			min-height: 350px

			> .list-menu-link
				padding: 0
				border: none
				color: colorDarkGold
				.list-menu-title
					font-size: 1.5em
					font-family: fontFutura
					font-weight: fontMyraidNormal

		// Item Group
		.list-menu-items
			padding: 1em 3%
			background: white
			border-radius: 20px

			// Item
			.list-menu-item
				a
					font-weight: fontMyraidBold
					color: colorDarkestBrown

		.list-menu-home
			display: none

// ====================================
// Main Content

.block-edit
	display: block
	text-align: right
	padding: 1.5em 0 1em /* top right bottom left */
	a
		transition: all 0.2s ease-out
		color: colorDarkestBrown
		opacity: 0.3
		&:hover
			opacity: 1

.block
	margin-top:0.5em
	padding: 0.5em 3%
	background: white
	border-radius: 20px
	word-wrap: break-word
	overflow: hidden

	.section-wrapper
		display:none
		&.active
			display:block
	ul
		margin-top: 0.2em
	.block-publication
		li
			margin-top:1.5em
		em
			color: red
	h1
		font-size: 2.5em
		font-weight: fontMyraidBoldest

	h2
		font-weight: fontMyraidBoldest
		font-size: 1.8em

	.compact
		h2
			color: colorLink

	h3
		font-size: 1.5em

	h4
		font-size: 1.2em

	h2
		border-bottom: 1px dotted colorLighterBrown

	h1
	h2
	h3
	h4
		margin-top: 1em
		margin-bottom: 0.1em
	a
		color: colorLink
		font-weight: fontMyraidBold
		&:hover
			text-decoration: underline

	dl dt
		font-weight: fontMyraidBoldest
	dl dd
		margin: 0 0 1.4em 1.1em

	img
		border: 2px solid colorLightestBrown
		display: block
		margin: 2em auto
		max-width: 100%
	p
		margin:0.5em
	table
		font-size: 1em
		margin: 2em 0
		width: 80%

		th
		td
			padding: 0.8em

		th
			background: colorBlue
			color: white

		tr:nth-child(2n+2)
			background: colorLightestBrown
	.block-publication
		h1
		h2
		h3
		h4
			margin-top:0em
			margin-bottom:0em
	.block-publication-content
		blockquote
			margin-top:0.2em
			margin-bottom:0.2em
			padding:0.1em
			border: 2px solid #999;
	.block-footer
		border-top: 1px dotted colorLighterBrown
		margin: 5em 0 1.5em
		padding-top: 1em
		clearfix()

	.prev-next
		position: relative
		height: 2em

		a
			font-weight: fontMyraidBoldest

		.prev
		.next
		.up
			display: block
			position: absolute
			bottom: 0
			height: 2em
			width: 33%
			text-decoration: none
			&:hover
				opacity: 1
				.title
					text-decoration: underline
			.icon
				display: block
				height: auto
				width: auto

		.prev
			left: 0
			text-align: left
			.icon
				mixinIconPagePrev()
		.next
			right: 0
			text-align: right
			.icon
				mixinIconPageNext()
		.up
			left: 33%
			text-align: center
			.icon
				mixinIconPageUp()


// ====================================
// Footer

.bottombar
	font-size: 1em
	border-top: 1px solid white
	box-shadow: 0 -1px 0 colorLightBrown
	padding: 1em 0
	line-height: 2em

	a
		font-weight: fontMyraidBoldest
		&:hover
			text-decoration: underline

	.about
		float: left
		a
			color: colorLink

	.links
		float: right
		a
			color: colorDarkestBrown
			margin: 0 0.5em



// ====================================
// Layout: Responsive
// Write your responsive layout styles here
// Below is merely an example of how this should work

@media screen and (max-width: 1280px)
	// Shrink features even more
	.splash
		.overview
			li
				font-size: 90%
				.image
					zoom(0.9)

@media screen and (max-width: 1024px)
	// Remove side padding
	.container
		width: 100%

	// Shrink features even more
	.splash
		.overview
			li
				column(4)
				display: inline-block
				float: none

	// Remove margin about the bottombar
	.bottombar
		margin-top: 2em
		.about
			margin-left: 2%
		.links
			margin-right: 2%

	// Hide the webchat button
	.webchat
		position: absolute
		left: -1000px
		top: -1000px

@media screen and (max-width: 960px)
	// Reduce doc columns
	.docs
		.list-menu
			.list-menu-category
				font-size: 90%
				min-height: 300px

@media screen and (max-width: 900px)
	// Hide the search bar
	.topbar
		.search
			display: none

@media screen and (max-width: 830px)
	// Reduce doc columns
	.docs
		.list-menu
			.list-menu-category
				width: 23%
				margin: 0 1%

	.splash
		.overview
			li
				margin: 0 3%
				.image
					zoom(0.8)

@media screen and (max-width: 768px)
	// Reduce doc columns per row to 2
	.docs
		.list-menu
			.list-menu-category
				width: 47%
				margin: 1em 1.5%

	// Remove top margin on the bottombar
	.bottombar
		margin-top: 0
		.about
		.links
			margin: 0

@media screen and (max-width: 650px)
	// Adjust font sizes
	.page
		font-size: 95%
		padding-left: 0
		width: 100%
	.splash
		font-size: 80%
		.overview
			li
				column(4)
				display: inline-block
				float: none
				padding: 0 0 2em
				.image
					zoom(0.6)

	.block
		h2
			margin-top: 3em
		h3
			margin-top: 2.5em
		h4
			margin-top: 2.1em

	// Make footer two rows
	.bottombar
		text-align: center
		.about
		.links
			float: none


@media screen and (max-width: 560px)
	.splash
		.overview
			li
				.image
					zoom(0.5)

@media screen and (max-width: 450px)
	// Shrink features even more
	.splash
		section
			margin: 2em 0

	// Hide the links
	.block-edit
		display: none
	.bottombar
		.links
			display: none

	// Hide the links
	.topbar
		a.secondary
			display: none

	// Allow code blocks to break
	code
		word-wrap: break-word

	// Adjust font sizes
	.page
		font-size: 90%
	.splash
		font-size: 65%
		p
			font-size: 130%
	.block
		h2
			margin: 2.3em 0 1em
		h3
			margin: 2.2em 0 1em
		h4
			margin: 2.1em 0 1em


@media screen and (max-width: 320px)
	// Shrink features even more
	.splash
		.overview
			margin: 0

	// Reduce doc columns per row to 1
	.docs
		.list-menu
			.list-menu-category
				width: 100%
				margin: 1em 0
				min-height: inherit

	// Adjust font sizes
	.prev-next .title
		font-size: 70%
