
```
layout: publication
title: "Iterative Scaling and Coordinate Descent Methods for Maximum Entropy Models"
key: "HHCL10"
authors: ["Fang-Lan Huang","Cho-Jui Hsieh", "Kai-Wei Chang", "Chih-Jen Lin"]
year: 2010
booktitle: "JMLR"
publish_type: journal
ispub: true
keyword: ["Large-Scale Learning","Machine Learning"]
paper_url: "../papers/HHCL10.pdf"
```
### Abstract
Maximum entropy (Maxent) is useful in natural language processing and many other areas.
Iterative scaling (IS) methods are one of the most popular approaches to solve Maxent.
With many variants of IS methods, it is difficult to understand them and see the differences.
In this paper, we create a general and unified framework for iterative scaling methods.
This framework also connects iterative scaling and coordinate descent methods. We prove
general convergence results for IS methods and analyze their computational complexity.
Based on the proposed framework, we extend a coordinate descent method for linear SVM
to Maxent. Results show that it is faster than existing iterative scaling methods.

### Bib entry

> @article{HHCL10, <br>
> author = {Fang-Lan Huang and Cho-Jui Hsieh and Kai-Wei Chang and Chih-Jen Lin}, <br>
> title= {{Iterative Scaling and Coordinate Descent Methods for Maximum Entropy Models}},<br>
> journal = {JMLR}, <br>
> year = {2010} <br>
> }

### Notes
A short version appears as a short paper at ACL 2009.
